.menu-options{
  padding:50px;
  width:28%;
  margin: 20px;
  border-radius: 5px;
  background-color: white;
}

.menu-options img{
  height:50px;
}

@media only screen and (max-width: 400px) {
  .menu-options{
    width: 90%;
    margin:12px;
    margin-left: 14px;
    padding:10px;
  }
  .menu-options img{
    height: 30px;
  }
}
