.SideBar{
  width: 5%;
  background-color: #081d38;
  float:left;
  position: fixed;
  height: 100%;
  text-align: center;
}


.SideBar img{
  height: 40px;
  position: relative;

margin: auto;
  display: inline-block;
}



li{
   list-style-type: none;
   padding:15px;
}

li:hover{
  background-color: #d3d4d4;
}

@media only screen and (max-width: 1024px) {
  .SideBar{
    width: 8%;

  }

}

@media only screen and (max-width: 768px) {
  .SideBar{
    width: 10%;

  }

}




@media only screen and (max-width: 425px) {
  .SideBar{
    width: 100%;
    float:none;
    bottom:0;
    height: 10%;
    z-index: 999
  }
  .SideBar img{
    height: 35px;
    padding:2px;
  }

  .SideBar li {
    display: inline;
    padding:8px;
    top:5px;
    margin-left: 4px;
    margin-right: 4px;
    height:100%;
    position: relative;
  }

  .SideBar li:hover {
    background-color: #37474F;
    }

}
