.sub-options{
  padding:40px;
  width:45%;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(8,29,56,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(8,29,56,1);
  box-shadow: 5px 5px 5px 0px rgba(8,29,56,1);
text-decoration: none;
color: #081d38;
font-family: 'Oswald', sans-serif;
}

.sub-card-down{

  }

.sub-card-image{

}

.updown{
  display: block;
  width:50%;
  text-align: center;
  position: relative;
  margin: auto;
}

.sub-options:hover{
  -webkit-box-shadow: 5px 4px 5px 1px rgba(122,118,122,1);
-moz-box-shadow: 5px 4px 5px 1px rgba(122,118,122,1);
box-shadow: 5px 4px 5px 1px rgba(122,118,122,1);
}

.sub-options img{
  height:50px;

  width:50px;
  padding:5px;
  margin-left: 10px;
  vertical-align: middle;
  margin-top: auto;
}

.sub-options h1{

  width:50%;
  font-size: 30px;
  font-weight: lighter;
  height:100%;
  display: block;
  margin: auto;
  font-family: 'Exo', sans-serif;
}

@media only screen and (max-width: 1024px) {
  .sub-options{
    width: 29%;
    min-height: 300px;
  }
  .sub-options h1{


    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .sub-options{
    width: 42%;
    display: inline-block;
    min-height: 300px;
  }

  .sub-options img{
    height: 50px;
    width:50px;
    float: none;
  }

  .sub-options h1{
    float:none;
    width: auto;
    font-size: 20px;
  }
}




@media only screen and (max-width: 425px) {
  .sub-options{
    width: 90%;
    margin:12px;
    margin-left: 14px;
    padding:5px;
    text-align: center;
    min-height: 150px;
  }
.sub-options h2{
  font-size: 20px;
}

  .sub-options img{
    height: 50px;
    width:50px;
    float: none;
  }

  .sub-options h1{
    float:none;
    width: auto;
    font-size: 20px;
  }



}
